name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: '16.17.1'

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.1.0

      - name: Run JQ lint
        uses: home-assistant/actions/helpers/jq@master

      - name: Setup YQ
        uses: chrisdickinson/setup-yq@latest
        with:
          yq-version: v4.25.3

      - name: Use Node.js ${{ env.node-NODE_VERSION }}
        uses: actions/setup-node@v3.5.1
        with:
          node-version: ${{ env.node-NODE_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Check yarn cache
        uses: actions/cache@v3.0.11
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Lint YAML files
        run: |
          yq '.' ./data/discord/messages/common.yaml
          yq '.' ./data/discord/messages/esphome.yaml
          yq '.' ./data/discord/messages/homeassistant.yaml

      - name: Install dependencies
        run: yarn install  --immutable

      - name: Run yarn lint
        run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.1.0

      - name: Use Node.js ${{ env.node-NODE_VERSION }}
        uses: actions/setup-node@v3.5.1
        with:
          node-version: ${{ env.node-NODE_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Check yarn cache
        uses: actions/cache@v3.0.11
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install  --immutable

      - name: Run tests
        run: yarn run test

  build-container:
    name: Build container
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3.1.0

      - name: Use Node.js ${{ env.node-NODE_VERSION }}
        uses: actions/setup-node@v3.5.1
        with:
          node-version: ${{ env.node-NODE_VERSION }}

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Check yarn cache
        uses: actions/cache@v3.0.11
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install  --immutable

      - name: Build container
        run: docker build . -t home-assistant/service-hub