name: Release Action

on:
  release:
    types:
      - published

concurrency:
  group: '${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  deploy_conainer:
    name: Deploy Container
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2

      - name: Get version number
        id: version
        run: |
          version=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}' )
          echo "::set-output name=version::$version"

      - name: Populate version.json
        run: |
          hash=$(git rev-parse HEAD)
          echo "{\"version\": {\"hash\": \"$hash\", \"version\": \"${{ steps.version.outputs.tag }}\"}}" > ./version.json

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2.0.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: "ghcr.io/${{ github.repository_owner }}/service-hub:${{ steps.version.outputs.version }}"

